
.container {
    width: 300px;
    max-height: 50vh;
    border: 1px solid black;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: auto;
    /* scroll-behavior: smooth; */
}

.card {
    width: 100%;
    height: 60px;
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 5px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.delete {
    width: 14px;
    height: 14px;
    background-color: red;
    color: white;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add {
    width: 300px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-name {
    width: 100%;
    margin-right: 5px;
}

.add-btn {
    background-color: cornflowerblue;
    border: none;
    width: 50px;
    border-radius: 4px;
    cursor: pointer;
    height: 25px;
    outline: none;
}

.file {
    width: 300px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preview {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid steelblue;
}